.of-footer-main {
    background: var(--of--color-brand--300);
    color: var(--of--color-white--100);
    @media (min-width: $ov--breakpoint--lg) {
        display: grid;
        grid-template-columns: 3fr 2fr 2fr;
        grid-gap: var(--of--spacer--sm);
        grid-template-areas: 
        "meta social newsletter"
        "copy copy copy"
        ;
        // & >*:not(:last-child) {
        //     padding: var(--of--spacer--lg);
        // }
    }
    padding-top: var(--of--spacer--2xl);
    
    // & >*:not(:last-child) {
    //     padding: var(--of--spacer--sm);
    // }
    .of-heading {
        margin-bottom: var(--of--spacer--sm);
    }
    &__meta {
        grid-area: meta;
        padding: 0 var(--of--spacer--lg) var(--of--spacer--lg) var(--of--spacer--lg);
        & > *:not(:last-child){
            margin-bottom: var(--of--spacer--sm);
        }
        @media (min-width: $ov--breakpoint--lg) {
            padding: 0 var(--of--spacer--2xl) var(--of--spacer--2xl) var(--of--spacer--2xl);
            .of-link-list__li {
                &:not(:last-of-type) {
                    margin-right: var(--of--spacer--xs);
                    border-right: 1px solid var(--of--color-white--100);
                    padding-right: var(--of--spacer--xs);
                }             
            }
            .of-link-list__a {
                text-decoration: underline;
            }
        }
        img {
            max-width: 200px;
        }
    }
    &__social {
        grid-area: social;
        padding:var(--of--spacer--lg);
        .of-link-list {
            &__li {
                margin-right: var(--of--spacer--md);
                display: flex;
            }
            &__a {
                display: flex;
                align-items: center;
            }
        }
        input {
            margin-bottom: var(--of--spacer--lg);
        }
    }
    &__copyright {
        grid-area: copy;
        display: flex;
        color: var(--of--color-white--100);
        padding: var(--of--spacer--sm) var(--of--spacer--lg);
        background: var(--of--color-black--300);
        .of-link-list__li {
            margin-left: var(--of--spacer--sm);
        }
    }
    .of-link-list {
        display: flex;
        flex-wrap: wrap;
    }
}