.of-masthead--home {   
    background: linear-gradient(0deg, rgba(0,91,151,.9) 0%, rgba(0,117,190,.9) 40%, rgba(41,135,226,.9) 100%), url("/images/header-bg.svg") left center;
    background-size: cover;
    padding: var(--of--spacer--lg) var(--of--spacer--md);
    @media (min-width: $ov--breakpoint--lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "content content"
    "action1 action2"
    ;
    }
    .of-heading {
        color: var(--of--color-white--100);
    }
    &__title {
        grid-area: title;
    }
    &__content {
        grid-area: content;
        @media (min-width: $ov--breakpoint--lg) {
            max-width: 55vw;
        }
        margin: var(--of--spacer--sm) auto var(--of--spacer--md);
    }
    &__action1 {
        grid-area: action1;
        justify-self: end;
    }
    &__action2 {
        grid-area: action2;
    }
    .of-button {
        margin: 0 var(--of--spacer--xs) var(--of--spacer--sm);
        max-width: fit-content;
        align-self: flex-start;
    }
}

.of-section--homepage-callouts {
    background: var(--of--color-blue--100);
    display: flex;
    flex-wrap: wrap;

    &__header {
        text-align: center;
        max-width: 55vw;
        margin: 0 auto var(--of--spacer--sm);
        & > * {
            margin-bottom: var(--of--spacer--sm);
        }
    }
    &__items {
        display: grid;
        margin: 0 auto;
        justify-content: center;
        @media (min-width: $ov--breakpoint--md) {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }
        gap: var(--of--spacer--md);
    }

    &__item {
        background: var(--of--color-white--100);
        border-radius: var(--of--BorderRadius--md);
        position: relative;
        z-index: 1;
        box-shadow: 0px 4px 18px 6px #2545810f, 0 5px 4px 2px #00296705;
        
        &__img {
            padding: var(--of--spacer--md);
            background: var(--of--color-blue--200);
            height: 200px;
            display: flex;
            justify-content: center;
            border-radius: var(--of--BorderRadius--md) var(--of--BorderRadius--md) 0 0;
        }
        &__content {
            padding: var(--of--spacer--md);
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            & > * {
                margin-bottom: var(--of--spacer--sm);
            }
        }
    }

}