.of-masthead--home {   
    background: var(--of--color-black--100) url("/images/bg-masthead.svg") no-repeat;
    background-position: -22vw -30vw ;
    background-size: 70% auto;
    padding: calc(2 * var(--of--spacer--2xl)) var(--of--spacer--md) var(--of--spacer--xl);
    @media (min-width: $ov--breakpoint--sm) {
    background-position:35vw 50.5%;
    background-size: 100% auto;
    }
    @media (min-width: $ov--breakpoint--lg) {
        padding: var(--of--spacer--2xl) calc(var(--of--spacer--3xl) + var(--of--spacer--md))  var(--of--spacer--2xl);
    }
    .of-heading {
        color: var(--of--color-white--100);
    }
    &__title {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        line-height: 2rem;
        margin-bottom: var(--of--spacer--md);
        span {
            &:first-of-type {
                font-size: 1.6875rem;
            }
            &:last-of-type {
                font-size: 2.25rem;
            }
        }
    }
    &__content {
        @media (min-width: $ov--breakpoint--sm) {
            max-width: 55vw;
            margin: var(--of--spacer--xl) 0;
        }
        margin: var(--of--spacer--md) 0;
    }
    
}

.of-section--homepage-callouts {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid var(--of--color-white--150);
    &__header {
        background: var(--of--color-white--200);
        padding: var(--of--spacer--lg);
        @media (min-width: $ov--breakpoint--lg) {
            padding :var(--of--spacer--2xl) 0 calc(var(--of--spacer--3xl) + var(--of--spacer--2xl)) calc(var(--of--spacer--2xl) + var(--of--spacer--xl));
            margin-bottom: calc(calc(var(--of--spacer--3xl) + var(--of--spacer--md) + 1px) * -1);
        }
        width: 100%;
        & > * {
            margin-bottom: var(--of--spacer--sm);
            @media (min-width: $ov--breakpoint--lg) {
                max-width: 55vw;
            }
        }
        .of-heading {
            color: var(--of--color-brand--200);
        }
    }
    &__items {
        @media (min-width: $ov--breakpoint--lg) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin: 0 var(--of--spacer--2xl);
        }
        
    }

    &__item {
        background: var(--of--color-white--100);
        &__build {
            .of-heading {
                background: var(--of--color-brand--100);
            }
        }
        &__manage {
            .of-heading {
                background: var(--of--color-brand--200);
            }
        }
        &__discover {
            .of-heading {
                background: var(--of--color-brand--300);
            }
        }
        &__content {
            padding: var(--of--spacer--lg);
            display: flex;
            flex-direction: column;
        }
        .of-heading {
            color: var(--of--color-white--100);
            padding:var(--of--spacer--lg) var(--of--spacer--md);
        }
    }

}