<footer class="of-footer-main">
    <div class="of-footer-main__meta">
      <img src="" alt="">
      <p class="of-footer-main__meta__text">The Operator Framework is an open source toolkit to manage Kubernetes native applications, called Operators, in an effective, automated, and scalable way.</p>
      <ul class="of-link-list of-link-list--secondary">
        <li><a href="">Operator SDK</a></li>
        <li><a href="">Operator Lifecycle Manager</a></li>
        <li><a class="of-link of-link--external" href="">OperatorHub</a></li>
      </ul>
    </div>
    <div class="of-footer-main__social">
      <h4 class="of-heading of-heading--md">Connect with us!</h4>
      <ul class="of-link-list">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Slack</a></li>
      </ul>
    </div>
    <div class="of-footer-main__mailing-list">
      <h4 class="of-heading of-heading--md">Join our mailing list</h4>
      <input type="email">
    </div>
    <div class="of-footer-main__copyright">
      <p>Copyright &copy; 2020</p>
      <ul class="of-link-list">
        <li><a href="">Privacy Statement</a></li>
        <li><a href="">Terms of Use</a></li>
      </ul>
    </div>
  </footer>