<header class="of-header-main">
    <a href="#" class="of-brand"><img src="" alt=""></a>
    <nav class="of-nav-main">
      <ul class="of-link-list of-link-list--primary">
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">What</a></li>
        <li><a href="">Why</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Documentation</a></li>
      </ul>
    </nav>
    <div class="of-header-main__search">
      <input type="search">
    </div>
  </header>