{{ partial "html-wrap.html" . }}
{{ partial "header.html" . }}
  <section class="of-masthead of-masthead--home">
    <h1 class="of-heading of-heading--2xl of-masthead--home__title">Operator Framework</h1>
    <h2 class="of-heading of-heading--lg of-masthead--home__content">The Operator Framework is an open source toolkit to manage Kubernetes native applications, called Operators, in an effective, automated, and scalable way.</h2>
    <a href="" class="of-button of-button--primary of-masthead--home__action1">What is an operator?</a>
    <a href="" class="of-button of-button--secondary of-masthead--home__action2">How to build an operator</a>
  </section>
  <section class="of-section of-section--homepage-callouts">
    <header class="of-section--homepage-callouts__header">
      <h2 class="of-heading of-heading--lg">What's in the framework?</h2>
    <p>Brief sentence about the contents of the framework to introduce the below websites. For example, the Operator Framework is a holistic framework for your operator needs, etc.</p>
    </header>
    <div class="of-section--homepage-callouts__items">
      <div class="of-section--homepage-callouts__item">
        <div class="of-section--homepage-callouts__item__img">
          <img src="/images/ico-build.svg" alt="">
        </div>
        <div class="of-section--homepage-callouts__item__content">
          <h3 class="of-heading of-heading--lg">Build</h3>
        <p>Software development kit for building Kubernetes applications. Provides high level APIs, useful abstractions, and project scaffolding.</p>
        <a href="#" class="of-link of-link--external">Learn more</a>
        <a href="#" class="of-button of-button--tertiary">Build an operator</a>  
        </div>
      </div>
      <div class="of-section--homepage-callouts__item">
        <div class="of-section--homepage-callouts__item__img">
          <img src="/images/ico-manage.svg" alt="">
        </div>
        <div class="of-section--homepage-callouts__item__content">
          <h3 class="of-heading of-heading--lg">Manage</h3>
        <p>Management framework for extending Kubernetes with Operators. Helps install, update, and manage the lifecycle of operators running across clusters.</p>
        <a href="" class="of-link of-link--external">Learn more</a>
        <a href="#" class="of-button of-button--tertiary">install OLM</a>
        </div>
      </div>
      <div class="of-section--homepage-callouts__item">
        <div class="of-section--homepage-callouts__item__img">
          <img src="/images/ico-discover.svg" alt="">
        </div>
        <div class="of-section--homepage-callouts__item__content">
          <h3 class="of-heading of-heading--lg">Discover</h3>
        <p>Home for the Kubernetes community to share Operators. Provides a catalog of existing operators and guidance for contributing new operators.</p>
        <a href="" class="of-link of-link--external">Learn more</a>
        <a href="#" class="of-button of-button--tertiary">Contribute operator</a>  
        </div>
      </div>
    </div>
  </section>
  <section class="of-section of-section-whats-operator">
    <aside class="of-section-whats-operator__video">Video here</aside> 
   <div class="of-section-whats-operator__content">
    <h2 class="of-heading of-heading--lg">What is an Operator?</h2>
    <p>The goal of an Operator is to put operational knowledge into software. Previously this knowledge only resided in the minds of administrators, various combinations of shell scripts or automation software like Ansible. It was outside of your Kubernetes cluster and hard to integrate. With Operators, CoreOS changed that.</p>
    <p>Operators implement and automate common Day-1 (installation, configuration, etc) and Day-2 (re-configuration, update, backup, failover, restore, etc.) activities in a piece of software running inside your Kubernetes cluster, by integrating natively with Kubernetes concepts and APIs. We call this a Kubernetes-native application. With Operators you can stop treating an application as a collection of primitives like Pods, Deployments, Services or ConfigMaps, but instead as a single object that only exposes the knobs that make sense for the application.</p>
    <a href="#" class="of-button of-button--tertiary">Learn more about Operators</a>
   </div>
  </section>
  <section class="of-section of-section__contribute">
    <h2 class="of-heading of-heading--lg">Contribute!</h2>
    <p class="of-section__contribute__content">The Operator Framework and its components are open source, so please feel encouraged to jump into each individually and learn what else you can do. If you want to discuss your experience, have questions, or want to get involved, join the <a href="" class="of-link of-link--inline">Operator Framework mailing list</a> and visit us on <a href="" class="of-link of-link--inline">GitHub</a>.</p>
  </section>
</body>
</html>
{{ partial "footer.html" . }}