<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <title>Welcome to Operator framework</title>
</head>
<body>
  <header class="of-header-main">
    <a href="#" class="of-brand"><img src="" alt=""></a>
    <nav class="of-nav-main">
      <ul class="of-link-list of-link-list--primary">
        <li><a href="">Home!!!</a></li>
        <li><a href="">About</a></li>
        <li><a href="">What</a></li>
        <li><a href="">Why</a></li>
        <li><a href="">FAQ</a></li>
        <li><a href="">Documentation</a></li>
      </ul>
    </nav>
    <div class="of-header-main__search">
      <input type="search">
    </div>
  </header>
  <section class="of-masthead of-masthead--home">
    <h1 class="of-heading of-heading--xl">Operator Framework</h1>
    <p>The Operator Framework is an open source toolkit to manage Kubernetes native applications, called Operators, in an effective, automated, and scalable way.</p>
    <div class="of-masthead__ctas">
      <a href="" class="of-button of-button--primary">What is an operator?</a>
      <a href="" class="of-button of-button--secondary">How to build an operator</a>
    </div>
  </section>
  <section class="of-homepage-callouts">
    <header class="of-homepage-callouts__header">
      <h2 class="of-heading of-heading--lg">What's in the framework?</h2>
    <p>Brief sentence about the contents of the framework to introduce the below websites. For example, the Operator Framework is a holistic framework for your operator needs, etc.</p>
    </header>
    <div class="of-homepage-callouts__item">
      <div class="img"></div>
      <h3 class="of-heading of-heading--lg">Build</h3>
      <p>Software development kit for building Kubernetes applications. Provides high level APIs, useful abstractions, and project scaffolding.</p>
      <a href="#" class="of-link of-link--external">Learn more</a>
      <a href="#" class="of-button--primary">Build an operator</a>
    </div>
    <div class="of-homepage-callouts__item">
      <div class="img"></div>
      <h3 class="of-heading of-heading--lg">Manage</h3>
      <p>Management framework for extending Kubernetes with Operators. Helps install, update, and manage the lifecycle of operators running across clusters.</p>
      <a href="" class="of-link of-link--external">Learn more</a>
      <a href="#" class="of-button--primary">install OLM</a>
    </div>
    <div class="of-homepage-callouts__item">
      <div class="img"></div>
      <h3 class="of-heading of-heading--lg">Discover</h3>
      <p>Home for the Kubernetes community to share Operators. Provides a catalog of existing operators and guidance for contributing new operators.</p>
      <a href="" class="of-link of-link--external">Learn more</a>
      <a href="#" class="of-button--primary">Contribute operator</a>
    </div>
  </section>
  <section class="of-section of-section-whats-operator">
    <h2 class="of-heading of-heading--lg">What is an Operator?</h2>
    <p>The goal of an Operator is to put operational knowledge into software. Previously this knowledge only resided in the minds of administrators, various combinations of shell scripts or automation software like Ansible. It was outside of your Kubernetes cluster and hard to integrate. With Operators, CoreOS changed that.</p>
    <p>Operators implement and automate common Day-1 (installation, configuration, etc) and Day-2 (re-configuration, update, backup, failover, restore, etc.) activities in a piece of software running inside your Kubernetes cluster, by integrating natively with Kubernetes concepts and APIs. We call this a Kubernetes-native application. With Operators you can stop treating an application as a collection of primitives like Pods, Deployments, Services or ConfigMaps, but instead as a single object that only exposes the knobs that make sense for the application.</p>
    <a href="#" class="of-button of-button--tertiary">Learn more about Operators</a>
    <aside>Video here</aside>
  </section>
  <section class="of-section of-section__contribute">
    <h2 class="of-heading of-heading--lg">Contribute!</h2>
    <p>The Operator Framework and its components are open source, so please feel encouraged to jump into each individually and learn what else you can do. If you want to discuss your experience, have questions, or want to get involved, join the <a href="" class="of-link of-link--inline">Operator Framework mailing list</a> and visit us on <a href="" class="of-link of-link--inline">GitHub</a>.</p>
  </section>
  <footer class="of-footer-main">
    <div class="of-footer-main__meta">
      <img src="" alt="">
      <p class="of-footer-main__meta__text">The Operator Framework is an open source toolkit to manage Kubernetes native applications, called Operators, in an effective, automated, and scalable way.</p>
      <ul class="of-link-list of-link-list--secondary">
        <li><a href="">Operator SDK</a></li>
        <li><a href="">Operator Lifecycle Manager</a></li>
        <li><a class="of-link of-link--external" href="">OperatorHub</a></li>
      </ul>
    </div>
    <div class="of-footer-main__social">
      <h4 class="of-heading of-heading--md">Connect with us!</h4>
      <ul class="of-link-list">
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Youtube</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Slack</a></li>
      </ul>
    </div>
    <div class="of-footer-main__mailing-list">
      <h4 class="of-heading of-heading--md">Join our mailing list</h4>
      <input type="email">
    </div>
    <div class="of-footer-main__copyright">
      <p>Copyright &copy; 2020</p>
      <ul class="of-link-list">
        <li><a href="">Privacy Statement</a></li>
        <li><a href="">Terms of Use</a></li>
      </ul>
    </div>
  </footer>
</body>
</html>
